#alert {
	font-size: 30px;
	font-weight: bold;
	color: white;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black; 
}

.question_list {
	margin-left: 30%;
}

.del {
	margin:1%;

}

.mod {
	margin:1%;

}

.sc {
	margin:1%;

}

#btns {
	margin: 2%;
}

#adminBody {
	background-color: #B7E7FF;
}

